<div class="flex gap-2">
    <app-abilityscore-control [control]="abilityScoreInformation.controls.strength">STR</app-abilityscore-control>
    <app-abilityscore-control [control]="abilityScoreInformation.controls.dexterity">DEX</app-abilityscore-control>
    <app-abilityscore-control [control]="abilityScoreInformation.controls.constitution">CON</app-abilityscore-control>
    <app-abilityscore-control [control]="abilityScoreInformation.controls.intelligence">INT</app-abilityscore-control>
    <app-abilityscore-control [control]="abilityScoreInformation.controls.wisdom">WIS</app-abilityscore-control>
    <app-abilityscore-control [control]="abilityScoreInformation.controls.charisma">CHA</app-abilityscore-control>
</div>